/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.text-strong {   
    font-weight: bold;
}

.navbar-default {
	background-color: #d3ffd3;
	border-color: #ffeac1;
}
.navbar-default .navbar-brand {
	color: #000000;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #000000;
}
.navbar-default .navbar-text {
	color: #000000;
}
.navbar-default .navbar-nav > li > a {
	color: #000000;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #000000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #000000;
	background-color: #ffeac1;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #000000;
	background-color: #ffeac1;
}
.navbar-default .navbar-toggle {
	border-color: #ffeac1;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #ffeac1;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #000000;
}
.navbar-default .navbar-link {
	color: #000000;
}
.navbar-default .navbar-link:hover {
	color: #000000;
}

.image-block
{
    display: inline-block;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #000000;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #000000;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #000000;
		background-color: #ffeac1;
	}
}

.navbar-default-border {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
}

.center-image {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
 }

div.c-wrapper{
        width: 80%; /* for example */
        margin: auto;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
        width: 100%; /* use this, or not */
        margin: auto;
        height: 400px;
        width: 600px;
}

.tdspecial {
		padding: 0 10px 0 0;
}

.right{
		text-align: right;
}